.header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 10dvh;
    background-color: #5EB562;
  }

  .logo{
    margin: 20%;
    width: 3vw;
  }

  .name {
    position: absolute;
    right: 0;
    margin: 5px;
    margin-right: 20px;
    color: black; 
  }